*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}

.icon{
    display: flex;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    height: 80px;
    margin-left:100px;
    font-weight: 900;
}

a{
    text-decoration: none;
    color: black;
}

/* header */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 4px solid darkorange;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

#header-img{
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.icon:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

#nav-bar{
    display: flex;
    height: 80px;
    align-items: center;
}

.nav-link{
    margin-right: 30px;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
}

.nav-link:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
    color: darkorange;
}

/* Get Started */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("./assets/bg-home.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
}

.home-header h1{
    font-size: 4rem;
    margin-bottom: 8px;
}

.home-header p{
    font-size: 2rem;
}

#form{
    margin-top: 50px;
}

#email{
    display: block;
    width: 60vw;
    height: 3rem;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    border: 3px solid darkorange;
}

.btn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    border: 3px solid darkorange;
}

.btn:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
    border: 0; 
    background-color: darkorange;
    color: white;
}

/* Features */

#features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.feature-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20%;
}

.f_icon{
    font-size: 35px;
    color: darkorange;
}

.feature-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80%;
    padding: 5px;
}

/* vide0 */
#piano_video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("./assets/bg-video.jpg");
    background-size: cover;
    background-position: center center;
}

#video{
    max-width: 560px;
    width: 100%;
}

/* pricing */

.pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 3rem;
}

.piano-type{
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10%;
    text-align: center;
    border: 2px solid black;
}

.piano-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.piano-price{
    font-size: 2.5rem;
    font-weight: bold;
}

.piano-desc{
    padding: 15px;
}

.piano-type:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
    border: 3px solid darkorange;
}

/* footer */
footer{
    padding: 5px;
    text-align: right;
    border-top: 1px solid darkorange;
    background-color: white;
}

