*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    width: 100%;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

/* ---------- HEADER ---------- */

/* #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 4px solid darkorange;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

header{

    background-color: white;
    border-bottom: 4px solid darkorange;
}

#header-img{
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.icon:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

#nav-bar{
    display: flex;
    height: 80px;
    align-items: center;
}

.nav-link{
    color: black;
    margin-right: 30px;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
}

.nav-link:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
    color: darkorange;
} */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    border-bottom: 4px solid darkorange;
    z-index: 100;
}

#header-img{
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.nav-bar{
    display: flex;
    height: 80px;
    align-items: center;
}

.nav-list{
    display: flex;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 30px;
    height: 80px;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin: 10px;
}

.nav-link:hover{
    transition: 0.5s;
    color: darkorange;
} 

.logo{
    font-size: 35px;
    padding: 0 100px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    line-height: 80px;
    margin-right: 40px ;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* ---------- GET STARTED ---------- */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("./assets/bg-home.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
}

.home-header h1{
    font-size: 4rem;
    margin-bottom: 8px;
}

.home-header p{
    font-size: 2rem;
}

#form{
    margin-top: 50px;
}

#email{
    display: block;
    width: 60vw;
    height: 3rem;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    border: 3px solid darkorange;
}

.btn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    border: 3px solid darkorange;
}

.btn:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
    border: 0; 
    background-color: darkorange;
    color: white;
}

/* ---------- FEATURES ---------- */

#features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.feature-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20%;
}

.f_icon{
    font-size: 35px;
    color: darkorange;
}

.feature-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80%;
    padding: 5px;
}

/* video */
#piano_video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("./assets/bg-video.jpg");
    background-size: cover;
    background-position: center center;
}

#video{
    max-width: 560px;
    width: 100%;
}

/* ---------- PRICING ---------- */

.pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 3rem;
}

.piano-type{
    flex: 1;
    max-width: 350px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10%;
    text-align: center;
    border: 2px solid black;
}

.piano-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.piano-price{
    font-size: 2.5rem;
    font-weight: bold;
}

.piano-desc{
    padding: 15px;
}

.piano-type:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease;
    border: 3px solid darkorange;
}

/* footer */
footer{
    padding: 5px;
    text-align: right;
    border-top: 1px solid darkorange;
    background-color: whitesmoke;
}

@media (max-width: 1280px){

    .logo{
        font-size: 30px;
        padding-left: 50px;
    }


    #features{
        height: auto;
        padding: 100px 0;
    }

    .feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 400px;
    }


    #pricing{
        height: auto;
        padding: 100px 0;
    }

    .pricing-container{
        height: auto;
        flex-direction: column;
    }
}

@media (max-width: 858px){

    .home-header h1{
        font-size: 3rem;
        margin-bottom: 8px;
    }
    
    .home-header p{
        font-size: 1rem;
    }

    /* navbar */
    .logo{
        font-size: 30px;
        padding-left: 25px;
    }

    .checkbtn{
        display: block;
    }

    .nav-list{
        height: 40vh;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
        background-color: whitesmoke;
        top: 80px;
        left: -100%;
        transition: all 0.5s;
        text-align: center;
        border-bottom: 4px solid #fca311;
    }

    .nav-link{
        margin: 50px;
        line-height: 30px;
    }

    #check:checked ~ .nav-list{
        left: 0;
    }
}